input{
    border: 0px;
    outline: none;
    border-bottom: 1px solid #000000A6;
    background: transparent;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    color: #000000A3;
}
input::placeholder{
    color: #000000A3;
    font-size: 18px;
    font-weight: 400;
}

h3{
    font-size: 32px;
    font-weight: 700;
}

button{
    padding: 10px;
    border-radius: 8px;
    background: #AC7BEC;
    color: #ffffff;
    border: none;
}

button:hover{
    background: #5B269F;
}