body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: radial-gradient(circle, rgba(196,163,238,1) 0%, rgba(255,255,255,1) 100%);

  font-family: "Montserrat", sans-serif;

  padding: 20px;

}

*{
  margin: 0px;
}


